
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* 
farbe (background/border): #eee, #ccc
farbe text: #659d89, #333, #666, #000
*/

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #eeeeee;
}

ul{
    list-style:none;
}

header ul:nth-of-type(1), h1, h2, h3, p{
    margin-left: 10%;
}

h3{
    font-size: xx-large;
    margin-top: 50px;
}

h5, h6{
    color: #666666;
}

/* Header */
header{
    height: 100vh;
    border-bottom: 2px solid #cccccc;
    position: relative;
}

header ul:nth-of-type(1){
    padding: 0;
}

header ul:nth-of-type(1) a{
    color: #659d89;
    text-decoration: none;
    padding: 0 50px 0 0 ;
    font-weight: 500;
}

header ul:nth-of-type(1) a:hover{
    color: #666666;
    text-decoration: underline;
}

header ul:nth-of-type(1) li{
    display:inline;
    margin: 0;
}

header h1{
    margin-top: 200px;
    font-size: 60px;
    color: #659d89;
}

header h2{
    margin-top: 20px;
    font-size: 50px;
    width: 650px;
}

header p{
    position: absolute;
    font-size: large;
    bottom: 50px;
}

header p span{
    font-size: xx-large;
}

header nav:nth-of-type(2) ul {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

header ul img{
    display: block;
    padding: 20px;
}

header ul img:hover{
    opacity: 0.7;
}

/* Section */

section img:hover{
    box-shadow: 0 0 20px #555555;
} 

/* Section 1 */
section:nth-of-type(1){
    height: 100vh;
    border-bottom: 2px solid #cccccc ;
}

section:nth-of-type(1) img{
    width: 70%;
}

.grid-container-1{
    margin: 50px auto;
    width: 1500px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item-1{
    padding: 50px 0;
    text-align: center;
}

/* Section 2 */
section:nth-of-type(2){
    border-bottom: 2px solid #cccccc;
}

/* Section 2 - Article */
.grid-container-2{
    margin: 50px auto;
    width: 1500px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item-2{
    padding: 50px;
    grid-column: 1 / 3;
}

.grid-item-3{
    padding: 50px;
    grid-column: 2 / 4;
}

section:nth-of-type(2) article{
    text-align: center;
}

section:nth-of-type(2) article img{
    width: 900px;
}

section:nth-of-type(2) article h4{
    font-size: x-large
}

/* Footer */
footer{
    text-align: center;
}

footer h5{
    margin: 100px;
    font-size: large;
}

footer h5 span{
    font-size: x-large;
}

footer h6{
    font-size: 10px;
}

